<% form_for [:admin, @tag] do |form| %>
	<%= form.error_messages %>
    <ol>
        <li>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </li>
        <li>
        	<%= form.label :keywords %>
            <%= form.text_area :keywords %>
        </li>
        <li>
        	<%= form.label :description %>
            <%= form.text_area :description %>
        </li>
        <li>
        	<%= form.label :status_id %>
            <%= form.status_select_field :status_id %>
        </li>
        <li>
            <%= form.submit 'Сохранить' %>
        </li>
	</ol>
<% end %>