<% form_for [:admin, @post] do |form| %>
	<%= form.error_messages %>
    <ol>
        <li>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </li>
		<li>
        	<%= form.label :title_transliterated %>
            <%= form.text_field :title_transliterated %>
        </li>
        <li>
        	<%= form.label :keywords %>
            <%= form.text_field :keywords %>
        </li>
        <li>
        	<%= form.label :description %>
            <%= form.text_area :description, :rows => 5 %>
        </li>        
        <li>
        	<%= form.label :body %>
            <%= form.text_area :body %>
        </li>
        <li>
        	<%= form.label :categories %>
            <br/>
            <% @categories.each do |category| %>
                <%= check_box_tag "category_#{category.id}", category.id, category.posts.include?(@post), :name => 'categories[]' %>
                <%= label_tag "category_#{category.id}", category.title %>
            <% end %>
        </li>
        <li>
        	<%= form.label :status_id %>
            <%= form.status_select_field :status_id %>
        </li>
        <li>
            <%= form.submit 'Сохранить' %>
        </li>
	</ol>
<% end %>
<% content_for :head do %>
	<%= stylesheet_link_tag 'markitup' %>
	<%= javascript_include_tag 'jquery.markitup' %>
	<%= javascript_include_tag 'jquery.markitup.set' %>
	<script type="text/javascript" >
	   $(document).ready(function() {
	      $("#post_body").markItUp(mySettings);
	   });
	</script>
<% end %>
