<div class="admin-panel align-right">
    <%= add_link_to(new_admin_menu_path) %>&nbsp;<%= destroy_selected_link_to %>
</div>
<% form_tag '/admin/menu/destroy/', :name => 'table', :method => :post do %>
<table>
	<thead>
		<th><%= check_box_tag :select_all %></th>
        <th>Ключ</th>
		<th>Название</th>
		<th>Ссылка</th>
		<th>Состояние</th>
		<th>Создано</th>
		<th>Изменено</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% @links.each do |link| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td><%= check_box_tag "ids_#{link.id}", link.id, false, :name => 'ids[]' %></td>
            <td><%= link.key %></td>
			<td><%= link_to link.name, link, :target => '_blank' %></td>
			<td><%= link.url %></td>
			<td><%= status_image_tag(link.status_id) %></td>
			<td><%= link.created_at.strftime("%d.%M.%Y") %></td>
			<td><%= link.updated_at.strftime("%d.%M.%Y") %></td>
			<td><%= edit_image_link_to edit_admin_menu_path(link) %></td>
			<td><%= destroy_image_link_to link %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>

